body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  background-color: aliceblue;
  font-size: 1.2rem;
  justify-content: center;
}
.container {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.items {
  background-color: aqua;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.selected .items{
    background-color: bisque;
}